<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<parameter name="name1" value="Aiite" />
	<parameter name="pass1" value="1234"/>

<test thread-count="5" name="Test">
		<classes>
			<class name="com.testngsample.Testngsecond" />
		
		</classes>

	</test> <!-- Testnew -->
</suite> <!-- Suite -->
